.todo-list-card {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px #AAAAAA;
  border: 1px solid #CCCCCC;
}
.todo-list-actions {
  display: flex;
  justify-content: flex-end;
}

.todo-list-button {
  margin-right: 1%;
  margin-left: 1%;
  font-size: medium;
  font-weight: bold;
}

.items-container {
  margin-top: 1%;
}

.remove-button {
  background-color: red;
}
