<div>
  <form [formGroup]="todoCreationForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select an existing category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="none">None</mat-option>
          <mat-option [value]="category"
                      *ngFor="let category of categories$ | async">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <label>
          <input matInput placeholder="Ex. My weekly groceries list" formControlName="name">
        </label>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="form-actions">
      <button mat-button mat-dialog-close color="warn">Cancel</button>
      <button mat-button color="primary" type="submit" [disabled]="!this.todoCreationForm.valid">OK</button>
    </mat-dialog-actions>
  </form>
</div>
