@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}


.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-toolbar {
  z-index: 2;
}

.app-title {
  margin-left: 2%;
}

.menu-container {
  flex: 1;
}

.menu {
  background-color: #333333;
}

.mat-list-item {
  color: white;
}
