@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.main-header {
  display: flex;
  justify-content: center;
}

.todo-list-creation-section {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.createTodoListButton {
  font-weight: bolder;
  font-size: 2em;
}

