<mat-card class="category-management-container">
  <mat-card-header>
    <mat-card-title>
      Categories management
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="categoryManagementForm">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select a category</mat-label>
        <label>
          <mat-select formControlName="category" (selectionChange)="onCategorySelection($event)">
            <mat-option></mat-option>
            <mat-option [value]="category"
                        *ngFor="let category of categories$ | async">{{category.name}}</mat-option>
          </mat-select>
        </label>
      </mat-form-field>

      <button mat-button [disabled]="disableBtn" (click)="enableEdition = true">Edit</button>
      <button mat-button [disabled]="disableBtn" (click)="deleteCategory()">Delete</button>

      <div *ngIf="enableEdition && this.categoryManagementForm.get('category').value">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label></mat-label>
          <label>
            <input matInput placeholder="" formControlName="categoryEdition"
                   [value]="this.categoryManagementForm.get('category')?.value?.name">
          </label>
        </mat-form-field>
        <button mat-button (click)="editCategory()">Update</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
