.todo-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
  line-height: 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 0 0 10px !important;
  border-top: 0 !important;
  background-color: rgba(0,0,255,0.03);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
  border-top: 0 !important;
}

.todo-item-description {
  flex-grow: 1;
}

.item {
  width: 100%;
}

.creation-validation-icon {
  color: green;
}

.remove-icon {
  color: red;
}

.item-icon {
  width: 20px;
  height: 20px;
}

